[submodule "video_analyzer/lib/avcpp"]
	path = video_analyzer/lib/avcpp
	url = https://github.com/h4tr3d/avcpp
[submodule "video_analyzer/lib/debug_cpp"]
	path = video_analyzer/lib/debug_cpp
	url = https://github.com/mateuszkojro/debug_cpp
