# Project exclude paths
*/cmake-build-debug/
openCL/build
my_avi_parser/build
video_analyzer/build
*/.idea
*.npy
*/__pycache__
*/build
motion-detect/*.c
motion-detect/*.html
motion-detect/*.cpython*
motion-detect/results/
motion-detect/data/

*.csv
*/.ipynb_checkpoints
/data
